.travel-photo {
    width: 20em;
    object-fit: contain;
    border-radius: 0.3em;
    float: left;
    align-self: flex-start;
  }
  
.journal-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.location #title {
    font-weight: 600;
}

.location-url {
    color: grey;
}